.bod{
    background-image: url('../background/triangular.png');
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 100px;
        color:black;
        padding-top: 20%;
}
#bod2{
    background-image: url('../background/triangular.png');
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: black;
}
#box{
        background-image: url('../background/tweed.png');
        width:400px;
        margin:0 auto;
        background-color: white;
        color: black;
}   
@media screen and (max-width: 1024px) {
 .bod{
        background-image: url('../background/triangular.png');
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 100px;
        color:black;
        padding-top: 20%;
   }
    #box{
        background-image: url('../background/tweed.png');
        width:400px;
        margin:0 auto;
        background-color: white;
        color: black;
}   
}

@media screen and (max-width:375px){ 
    .bod{
        background-image: url('../background/triangular.png');
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 100px;
        color:black;
        padding: 50% 2% 30% 2%;
        
    }
    #box{
        background-image: url('../background/tweed.png');
        width:350px;
        margin:0 auto;
        background-color: white;
        color: black;
    }
}



a{
    text-decoration: none;
    color: black;
    
}
a:hover {
    color: #ADD8E6;
}